/**
 * @name FixVoicePanel
 * @author Andrei0801
 * @version 2.0
 * @description ~~Fixes voice panel overflow~~ Code is usless now. It seems all the problem was because of a discord experiment. '2025-05_align_chat_input' to be more exact. 
 */

@import url('https://raw.githubusercontent.com/Andrei08012007/Discord-themes/main/FixVoicePanel.theme.css');

.container__11d72 {
  min-height: 42px !important; /* Ensures a minimum size */
  max-height: none !important; /* Removes clipping */
  overflow: visible !important; /* Shows all content */
  padding: 6px 10px !important;
  margin-bottom: 4px;
  transform: scale(0.95);
}

.wrapper__3c6d5 {
  align-items: center !important;
  gap: 6px !important;
}

.connection__38593 {
  position: relative !important;
  top: 0 !important;
  right: 0 !important;
  opacity: 1 !important;
}

